extends ../layout

block content
  .page-header
    h3 Sign in
  .signup_container
    .signup_info
      .signup_form
          .form_wrapper
            form#account_create(method="post")
              input(type='hidden', name='_csrf', value=_csrf)
              .row
                .custom_dropdown.margin-10
                  input#email.example.flex-input.margin-10(type='email', name='email', placeholder='Email', autofocus, required)
              .row
                .custom_dropdown.margin-10
                  input#password.example.flex-input.margin-10(type='password', name='password', placeholder='Password', required)
              .row
                .field-container
                  button.create-account-button.margin-10(type="submit") Login
    .form-group
      .col-sm-offset-3.col-sm-7
        a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
          i.fa.fa-facebook
          | Sign in with Facebook
        a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
          i.fa.fa-twitter
          | Sign in with Twitter
        a.btn.btn-block.btn-google.btn-social(href='/auth/google')
          i.fa.fa-google-plus
          | Sign in with Google
        a.btn.btn-block.btn-github.btn-social(href='/auth/github')
          i.fa.fa-github
          | Sign in with GitHub
        a.btn.btn-block.btn-linkedin.btn-social(href='/auth/linkedin')
          i.fa.fa-linkedin
          | Sign in with LinkedIn
        a.btn.btn-block.btn-instagram.btn-social(href='/auth/instagram')
          i.fa.fa-instagram
          | Sign in with Instagram
