extends ../layout

block content
  .page-header
    h3 


  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form_wrapper
      .row
        .col-sm-12
          h3 Avaliable Funds: #{balance}
      .row(style="padding-bottom:25px;")
        .col-sm-12
          input.example.flex-input.margin-10(type='text', name='address', id='address', autofocus=true, placeholder="Address")
      .br
      .row(style="padding-bottom:25px;")
        .col-sm-12
          input.example.flex-input.margin-10(type='text', name='amount', id='amount', placeholder="Amount")
      .row
        .field-container.col-sm-12
          button.submit-transaction-button.margin-10.pull-right(type="submit") Send
