.signup_header
            .logo
              a(href="/")
                h2(style="color:white;") Toaster Oven
            if user

              .loginButton(style="float:right;")
                a(href="/logout") Log Out
              .loginButton(style="float:right;")
                a(href="/wallet") Wallet
              .loginButton(style="float:right;")
                a(href="/transfer") Transfer
              h4(style="color:white;") Welcome #{user.email}

            if !user
              .loginButton
                a(href="/login") Login