extends layout

block content
  h1 Gralicoin Wallet PoC
  p.Probably terribly insecure and bad but here it is tada
  hr
  .row
    .col-sm-6
      h2 How to use
      p Simply register for an account and you'll have your first address at 
        a(href="/wallet") /wallet
      p
    .col-sm-6
      h2 Send Money 
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
