extends layout

block content
  .signup_container
    .signup_info
      h2 Store your Garlicoin with ease and confidence
      h4
        | Online cloud based Garlicoin wallet hosted from a secure node.
        | Reliable and convenient!
      .signup_form
        .form_wrapper
          form#account_create(action="https://app.wistia.com/freebies" method="post")
            .row
              .custom_dropdown.margin-10
                input#email.example.flex-input.margin-10(name="account[contact_email]" placeholder="Email" required="" type="email")
            .row
              .custom_dropdown.margin-10
                input#password.example.flex-input.margin-10(name="account[password]" placeholder="Set a password" required="" type="password")
            .row
              .custom_dropdown.margin-10
                input#password.example.flex-input.margin-10(name="account[password]" placeholder="Confirm your password" required="" type="password")
            .row
              .agency-container
                input#agency_referral_other.example.margin-10(maxlength="200" name="account[account_funnel_details_attributes][agency_referrer]" placeholder="Which agency referred you?" type="text")
            .row
              .signup_other-container
                input#signup_other.example.margin-10(maxlength="200" name="account[account_funnel_details_attributes][signup_other]" placeholder="Please share more details..." type="text")
            .row
              .field-container
                button.create-account-button.margin-10(type="submit") Create account
          .email_suggestion
            | Did you mean
            span.email
              span.address asf
              | @
              span.domain gmail.com
            | ?
          .fineprint
            p
              | By clicking this button, you agree to our
              a.terms(href="//wistia.com/terms" target="_blank") Terms of Service
              | .
